@import url(reset.css);
/*Media breakpoints*/
/*Colors!*/
body {
  font: 62.5% Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #30261c;
  margin: 0;
  padding: 0;
  color: #FFF; }
body ::selection {
  background: #1faaa6; }

a {
  cursor: pointer;
  color: #FFF;
  text-decoration: none; }
a:hover, a:active, a:focus {
  border-bottom-style: none;
  color: #1faaa6; }
a img {
  border: none; }

input:focus {
  outline: none; }

.wrapper {
  width: 100%;
  margin: 0 auto; }
@media (min-width: 961px) {
  .wrapper {
    width: 960px; } }
.old-ie .wrapper {
  width: 960px; }

.main {
  min-width: 320px;
  margin: 2em 0; }
@media (min-width: 961px) {
  .main {
    margin: 5.6em 3.6em 3.6em 3.6em; } }
.old-ie .main {
  margin: 5.6em 3.6em 3.6em 3.6em; }
.main > img {
  float: left;
  display: inline-block; }

.inline-block {
  display: inline-block; }

nav li {
  display: inline-block; }

.vert-align {
  vertical-align: top; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.one-column-only {
  display: none; }

.no-margins {
  margin: 0 !important; }

.end-of-line {
  margin-right: 0em !important; }

.ibody {
  color: #FFF;
  font-size: 14px;
  line-height: 22px; }

.blueheading {
  color: #1FAAA6;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 32px;
  margin-left: 235px; }

.pheading {
  color: #FFF;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 500;
  font-size: 22px;
  margin-left: 235px; }

p {
  margin-bottom: 1em; }

@media (min-width: 961px) {
  .mobile-only {
    display: none; } }
.old-ie .mobile-only {
  display: none; }

.white_heading {
  font-family: 'Ubuntu',sans-serif;
  font-weight: 500;
  font-size: 1.6em; }

h1 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-weight: 700;
  color: #1faaa6; }

.intro {
  font-family: 'Ubuntu', sans-serif; }
@media (max-width: 960px) {
  .intro {
    position: absolute;
    top: 1em;
    left: 2em;
    margin: 0;
    min-width: 279px; } }
@media (min-width: 961px) {
  .intro {
    margin: 0 auto;
    width: 281px; } }
.old-ie .intro {
  margin: 0 auto;
  width: 281px; }
.intro h1 {
  line-height: 1em;
  font-size: 3.1em;
  margin-bottom: 0px; }
@media (min-width: 961px) {
  .intro h1 {
    line-height: 1em; } }
.old-ie .intro h1 {
  line-height: 1em; }
.intro h3 {
  font-size: 1.9em;
  font-weight: 500;
  margin-bottom: 0.4em; }
@media (min-width: 961px) {
  .intro h3 {
    margin-bottom: 0.1em; } }
.old-ie .intro h3 {
  margin-bottom: 0.1em; }

nav {
  width: 100%;
  vertical-align: bottom; }
@media (max-width: 960px) {
  nav {
    margin-top: 14em; } }
@media (min-width: 961px) {
  nav {
    width: auto;
    display: inline-block;
    height: 58px; } }
.old-ie nav {
  width: auto;
  display: inline-block;
  height: 58px; }

nav li {
  font-family: 'Ubuntu', sans-serif; }
@media (max-width: 960px) {
  nav li {
    width: 100% !important; } }
@media (min-width: 961px) {
  nav li {
    height: 47px;
    padding: 0 1.6em; } }
.old-ie nav li {
  height: 47px;
  padding: 0 1.6em; }
@media (max-width: 960px) {
  nav li a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    line-height: 2.4em;
    width: 93%;
    display: inline-block;
    padding-left: 1.0em; } }
@media (max-device-width: 767px) and (max-device-height: 767px) and (orientation: landscape) {
  nav li a {
    padding-left: 1.5em;
    font-size: 1.3em; } }
@media (min-width: 961px) {
  nav li a {
    font-weight: 500;
    font-size: 1.8em;
    padding-left: 0px;
    padding-top: 0.5em;
    display: block;
    text-align: center; } }
.old-ie nav li a {
  font-weight: 500;
  font-size: 1.8em;
  padding-left: 0px;
  padding-top: 0.5em;
  display: block;
  text-align: center; }
nav li a:visited {
  font-size: 1.8em;
  padding-left: 0px; }
nav li.on {
  background-color: #0B8185; }
@media (min-width: 961px) {
  nav li.on {
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 7px 7px 0px 0px; } }
.old-ie nav li.on {
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 7px 7px 0px 0px; }
nav li.on a:hover, nav li.on a:active, nav li.on a:focus {
  color: #FFF; }

#bar {
  height: 11px;
  background-image: url(../assets/bar.png);
  display: block; }

#thumbnails {
  width: 900px;
  /*873*/
  margin-top: 10px;
  position: relative;
  left: -10px;
  display: inline-block; }
#thumbnails img.arrow {
  position: absolute;
  z-index: 5;
  top: 32px; }
#thumbnails img.arrow.left {
  left: 13px; }
#thumbnails img.arrow.right {
  right: 13px; }
#thumbnails li:hover {
  cursor: pointer; }

.label, .common {
  width: 64px;
  float: left;
  margin: 0 13px; }

.common {
  padding-top: 25px; }

@media (max-width: 960px) {
  .content {
    margin: 0em !important; } }
@media (min-width: 961px) {
  .content {
    margin-top: 7em;
    display: inline-block;
    width: 100%;
    max-height: 700px; } }
.old-ie .content {
  margin-top: 7em;
  display: inline-block;
  width: 100%;
  max-height: 700px; }

#aboutheading {
  margin: 0;
  display: inline-block; }
@media (min-width: 961px) {
  #aboutheading {
    margin: 0 2em 0 18em; } }
.old-ie #aboutheading {
  margin: 0 2em 0 18em; }
#aboutheading img {
  margin-right: 1.5em; }
#aboutheading .bodytext {
  font-size: 1.4em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400; }

#abouttext {
  line-height: 1.5;
  font-size: 1.3em;
  margin: 1.5em 0em; }
#abouttext p {
  display: inline-block; }
@media (min-width: 961px) {
  #abouttext {
    width: 49%;
    margin: 0; } }
.old-ie #abouttext {
  width: 49%;
  margin: 0; }
@media (max-device-width: 767px) and (max-device-height: 767px) and (orientation: landscape) {
  #abouttext {
    font-size: 0.8em; } }

.resume {
  font-size: 1.2em;
  line-height: 1.5; }
@media (max-device-width: 767px) and (max-device-height: 767px) and (orientation: landscape) {
  .resume {
    font-size: 0.7em;
    font-weight: normal; } }

.ritalic {
  margin: 0 0 1em 0;
  display: block;
  font-size: 1.1em;
  font-style: italic; }
@media (max-width: 960px) {
  .ritalic {
    line-height: 1.5em; } }
@media (min-width: 961px) {
  .ritalic {
    display: inline-block;
    margin: 0 0 0.5em 1em; } }
.old-ie .ritalic {
  display: inline-block;
  margin: 0 0 0.5em 1em; }

.r-left {
  width: 100%; }
@media (min-width: 961px) {
  .r-left {
    width: 49%;
    margin: 0em auto;
    vertical-align: top; } }
.old-ie .r-left {
  width: 49%;
  margin: 0em auto;
  vertical-align: top; }

@media (min-width: 961px) {
  .r-right {
    width: 47%;
    margin-left: 2em; }
  .r-right .rsection {
    padding-top: 0; } }
.old-ie .r-right {
  width: 47%;
  margin-left: 2em; }
.old-ie .r-right .rsection {
  padding-top: 0; }

.resume > section {
  padding: 0 0 1.5em 0; }
.resume > section section {
  padding: 0 0 1.5em 0; }
@media (max-width: 960px) {
  .resume > section section.last {
    padding: 0; } }
@media (max-width: 960px) {
  .resume > section {
    border-bottom: 1px solid #0B8185;
    margin-bottom: 1em; } }
.resume > section h2 {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 0.8em; }
.resume > section h3, .resume > section .rsubheading {
  padding-bottom: 0.5em;
  color: #1faaa6;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 1.2em; }
.resume > section img {
  vertical-align: middle;
  margin-right: 1em; }
.resume > section .white_heading {
  margin-right: 5em;
  font-size: 1.3em; }

.portfolio-header {
  margin: 0em 0em 2em 0em;
  background-color: #e2e2e2; }
.portfolio-header a {
  font-size: 1.4em;
  font-family: 'Ubuntu';
  font-weight: 700;
  padding-left: 7%;
  padding-right: 6%;
  color: #44392F;
  cursor: pointer; }
.portfolio-header .selected, .portfolio-header a:hover, .portfolio-header a:active, .portfolio-header a:visited {
  color: #0b8185; }

.portfolio-categories {
  padding: 0.75em 2em; }

@media (max-width: 960px) {
  .pieceshell {
    float: none;
    padding-bottom: 2em;
    margin: 0 2em 2em;
    border-bottom: 1px solid #0B8185; } }

.imgshell {
  width: 49%; }
@media (max-width: 960px) {
  .imgshell {
    overflow: hidden; } }
@media (min-width: 961px) {
  .imgshell {
    width: 47%;
    margin-right: 2em; } }
.old-ie .imgshell {
  width: 47%;
  margin-right: 2em; }

.img_and_cap img {
  width: 100%; }

.textshell {
  width: 45%;
  vertical-align: top;
  margin-left: 2em; }
@media (min-width: 961px) {
  .textshell {
    width: 48%; } }
.old-ie .textshell {
  width: 48%; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > figure {
  float: left;
  width: 100%;
  position: relative; }

.caption {
  margin: 1em 0 1.5em 0;
  display: block;
  width: 100%;
  text-align: center; }
.caption.cap-italic {
  font-style: italic;
  font-size: 1.3em;
  margin: 1em 0; }
@media (min-width: 961px) {
  .caption.cap-italic {
    margin-bottom: 0em;
    font-size: 1.4em; } }
.old-ie .caption.cap-italic {
  margin-bottom: 0em;
  font-size: 1.4em; }

.name {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.9em;
  line-height: 1.2em;
  display: block;
  color: #1faaa6; }

.pmedium {
  display: block;
  padding-bottom: 2em;
  padding-top: 0.2em;
  font-size: 1.3em; }

@media (max-width: 960px) {
  .pieceinfo {
    text-align: justify; } }
@media (max-device-width: 767px) and (max-device-height: 767px) and (orientation: landscape) {
  .pieceinfo {
    font-size: 1.2em; } }

.demotext {
  display: block;
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin: 0.75em 0em 0 0; }
@media (min-width: 961px) {
  .demotext {
    font-size: 1.3em; } }
.old-ie .demotext {
  font-size: 1.3em; }

canvas {
  display: block;
  margin: 0 auto; }
@media (min-width: 961px) {
  canvas {
    margin-top: 1em; } }
.old-ie canvas {
  margin-top: 1em; }

.arrow {
  height: 62px;
  cursor: pointer;
  position: relative;
  margin-bottom: -7em; }
@media (max-width: 342px) {
  .arrow {
    display: none; } }

#l {
  float: left;
  left: -25px; }

#r {
  float: right;
  right: -25px; }

.contact-icons {
  display: block;
  width: 100%;
  height: 43px; }
@media (min-width: 961px) {
  .contact-icons {
    margin-top: 1em; } }
.old-ie .contact-icons {
  margin-top: 1em; }
.contact-icons li {
  width: 43px;
  margin-right: 13px;
  line-height: 0em;
  font-size: 0em;
  display: inline-block; }
@media (min-width: 961px) {
  .contact-icons li {
    margin-right: 13px;
    opacity: 0.9; } }
.old-ie .contact-icons li {
  margin-right: 13px;
  opacity: 0.9; }
.contact-icons a {
  background-size: 43px 43px;
  display: block;
  height: 43px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
.contact-icons .email a {
  background-image: url(../assets/mobile/mail2x.png); }
.contact-icons .email a:hover {
  background-image: url(../assets/mobile/mail_white2x.png); }
.contact-icons .facebook a {
  background-image: url(../assets/mobile/facebook2x.png); }
.contact-icons .facebook a:hover {
  background-image: url(../assets/mobile/facebook_white2x.png); }
.contact-icons .linkedin a {
  background-image: url(../assets/mobile/linkedin2x.png); }
.contact-icons .linkedin a:hover {
  background-image: url(../assets/mobile/linkedin_white2x.png); }
.contact-icons .twitter a {
  background-image: url(../assets/mobile/twitter2x.png); }
.contact-icons .twitter a:hover {
  background-image: url(../assets/mobile/twitter_white2x.png); }
.contact-icons .github a {
  background-image: url(../assets/mobile/github2x.png); }
.contact-icons .github a:hover {
  background-image: url(../assets/mobile/github_white2x.png); }

.old-ie .contact-icons .email a {
  background-image: url(../assets/mobile/mail.png); }
.old-ie .contact-icons .email a:hover {
  background-image: url(../assets/mobile/mail_white.png); }
.old-ie .contact-icons .facebook a {
  background-image: url(../assets/mobile/facebook.png); }
.old-ie .contact-icons .facebook a:hover {
  background-image: url(../assets/mobile/facebook_white.png); }
.old-ie .contact-icons .linkedin a {
  background-image: url(../assets/mobile/linkedin.png); }
.old-ie .contact-icons .linkedin a:hover {
  background-image: url(../assets/mobile/linkedin_white.png); }
.old-ie .contact-icons .twitter a {
  background-image: url(../assets/mobile/twitter.png); }
.old-ie .contact-icons .twitter a:hover {
  background-image: url(../assets/mobile/twitter_white.png); }
.old-ie .contact-icons .github a {
  background-image: url(../assets/mobile/github.png); }
.old-ie .contact-icons .github a:hover {
  background-image: url(../assets/mobile/github_white.png); }

@media only screen and (max-width: 960px) {
  .desktop-only {
    display: none !important; }

  #portfolio.on {
    box-shadow: 0px 4px 10px #888888;
    -moz-box-shadow: 0px 4px 10px #888888;
    -webkit-box-shadow: 0px 4px 10px #888888; }

  .add-margins {
    margin: 1em 2em;
    display: block; }

  .blue-line {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #0B8185; } }
@media only screen and (max-width: 479px) {
  .imgshell {
    width: 100%; }

  .textshell {
    width: 100%;
    margin-left: 0;
    margin-top: 1.5em; }

  .one-column-only {
    display: block; }

  .two-column-only {
    display: none; } }
