h1 .char16 {
vertical-align: top;
margin-left: 0.026em;
}

h1 .char15 {
vertical-align: top;
margin-left: 0.053em;
}

h1 .char2 {
vertical-align: top;
margin-left: 0.079em;
}

h1 .char3 {
vertical-align: top;
margin-left: 0.053em;
}

h1 .char4 {
vertical-align: top;
margin-left: 0.053em;
}

h1 .char5 {
vertical-align: top;
margin-left: 0.079em;
}

h1 .char7 {
vertical-align: top;
margin-left: 0.053em;
}

h1 .char6 {
vertical-align: top;
margin-left: 0.053em;
}

h1 .char9 {
vertical-align: top;
margin-left: 0.184em;
}

h1 .char11 {
vertical-align: top;
margin-left: 0.237em;
}

h1 .char12 {
vertical-align: top;
margin-left: 0.053em;
}

h1 .char14 {
vertical-align: top;
margin-left: 0.079em;
}
