@charset "UTF-8";
/*@import "compass";*/
@import "breakpoint";

/*Media breakpoints*/
$mobile: max-width 320px;
$mobile_landscape: (max-device-width 767) (max-device-height 767) (orientation landscape);
$tablet: max-width 960px;
$desktop: 961px;

/*Colors!*/
$background-brown: #30261C;
$teal: #1FAAA6; 

@mixin desktop {
	@include breakpoint($desktop) {
		@content;
	}
}

body {
	font: 62.5% Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.4;
	background: $background-brown; 
	margin: 0;
	padding: 0;
	color: #FFF;
	/*webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;*/
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0px;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 0px;
	padding-left: 0px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { border: none; }
a {
	cursor: pointer;
	color: #FFF;
}

a:link {
	color: #FFF;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited { text-decoration: none; }

a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	border-bottom-style:none;
	border-bottom-width:medium;
	border-bottom-color:#FFF;
	color: $teal;
}

input:focus{ outline:none; }

/* This fixed width container surrounds all other elements */
.wrapper {
	width: 960px;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	
}
	
.main {
	margin: 5.6em 3.6em 3.6em 3.6em;
}

.inline-block {
	display: inline-block;
} 

.vert-align {
	vertical-align: top;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

#mobile_heading {
	display: none;
}

.one-column-only {
	display: none;
}

.no-margins {
	margin: 0;
}

.intro {
	margin: 0 auto;
}

h1 {
	font-family: "UbuntuBold", Helvetica, sans-serif;
	font-weight: normal;	
	color: $teal;
}

.intro 
	h1 {
		font-size: 3.1em;
		line-height: 1em;
		margin-bottom: 0px;
	}

	h3 {
		font-family: "UbuntuMedium", Helvetica, sans-serif;
		font-size: 1.9em;
		font-weight: normal;
		margin-bottom: 0.1em;
	}	

.left p {
	float: right;
	margin-right: 36px;
}

#logo {
	@extend .inline-block;
	float: left;
}

.about img {
	margin-right: 1.5em;
}

#abouttext {
	line-height: 1.5;
	font-size: 1.3em;
	@include desktop {
		width: 47%;
	}
}

.bodytext {
	font-size:1.4em;
	font-family: 'UbuntuRegular';
}

.white_heading {
	font-family: 'UbuntuMedium';
	font-size: 1.6em;
}

#aboutme {
	width: 110px;
	float:left;
	.on { background-image:url(abouttab.png); }
}

#resume {
	width: 100px;
	.on {
		display: inline-block;
		background-image:url(resumetab.png);
	}
}

#portfolio {
	width:115px;
	.on { background-image:url(portfoliotab.png); }
}

#contact {
	width:99px;
	.on { background-image:url(contacttab.png); }
}


#github {
	margin-right: 0em;
}

#bar{
	height:11px;
	width: 432px;
	background-image:url(bar.png);
	display: block;
}

.resume {
	font-size: 1.2em;
	line-height: 1.5;
}

.rsection {
	padding: 1.5em 0;

	h2 {
		font-family:'UbuntuMedium';
		font-weight: normal;
		font-size: 1.5em;
	}

	img {
		vertical-align: middle;
		margin-right: 1em;
	}

	.white_heading {
		margin-right: 5em;
		font-size: 1.3em;
	}
}

.resheading{
	height:43px;
}

.rsubheading{
	color: $teal;
	font-family:'UbuntuBold';
	font-size:1.2em;
}

.r_exp_entry {
	padding-bottom: 2em;

	.last{
		padding-bottom: 0em;
	}
}

.ritalic {
	font-size: 1.1em;
	font-style: italic;
}

.demotext {
	display: block;
	font-size: 1.3em;
	font-family: 'UbuntuMedium';
	margin: 0.75em 0em 0 0;
}

.skills {
	display: inline-block;
	vertical-align: top;
	width: auto;
	margin-right: 2.5em;
}

#thumbnails{
	width:873px;

	li:hover {
	cursor: pointer;
	}
}

.name {
	font-family: 'UbuntuMedium';
	font-size: 1.9em;
	line-height: 1.2em;
	display: block;
	color: $teal;
}

.label .common{
	width:64px;
	float:left;
	margin-right:25px;
}

.tabtext{
	font-family: 'UbuntuMedium';
	font-size:1.8em;
	padding-left:0px;	

	a:visited{
		font-size:1.8em;
		padding-left:0px;	
	}
}

.on a:hover, a:active, a:focus{
	color: #FFF;
}

.imgshell {
	width: 50%;
	overflow: hidden;
}

.textshell {
	width: 45%;
	vertical-align: top;
	margin-left: 2em;
}

.pmedium {
	display: block;
	padding-bottom: 2em;
	padding-top: 0.2em;
	font-size: 1.3em;
}

.caption {
	margin: 1em 0 1.5em 0;
	display: block;
	width: 100%;
	text-align: center;
}

canvas {
	display: block;
	margin: 0 auto;
}

.arrow {
	height: 62px;
	cursor: pointer;
	position: relative;
	margin-bottom: -7em;
}

#l {
	float: left;
	left: -25px;
}

#r {
	float: right;
	right: -25px;
}

.canvas_shell {
	display: block;
	margin: 0 auto;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.img_and_cap.swipe img {
	width: 100%;
}

.contact-icons {
		display: block;
		width: 100%;
		height: 43px;
	}

.contact-icons li {
	width: 43px;
	margin-right: 12px;
	line-height: 0em;
	font-size: 0em;
	display: inline-block;

	a {
	display: block;
	height: 43px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	}
}

.contact-icons {
	a { background-size: 43px 43px; }

	.email {
		a { background-image: url(mobile/mail2x.png); }
		a:hover { background-image: url(mobile/mail_white2x.png); }
	}
	.facebook {
		a { background-image: url(mobile/facebook2x.png); }
		a:hover { background-image: url(mobile/facebook_white2x.png); }
	}
	.linkedin {
		a { background-image: url(mobile/linkedin2x.png); }
		a:hover { background-image: url(mobile/linkedin_white2x.png); }
	}
	.twitter {  
		a { background-image: url(mobile/twitter2x.png); }
		a:hover { background-image: url(mobile/twitter_white2x.png); }
	}
	.github {
		a { background-image: url(mobile/github2x.png); }
		a:hover { background-image: url(mobile/github_white2x.png); }
	}
}

@media only screen and (min-width: 961px) {


	.mobile-only {
		display: none;
	}

	.content {
		margin-top: 7em;
		display: inline-block;
		width: 100%;
	}

	/*.intro {
		width: 281px;
	}*/

	#navigation {
		display: inline-block;
		height: 58px;
		float: left;

		a {
			padding-top: 0.5em;
			display: block;
			text-align: center;
		}
		
		.inline-block {
			height: 47px;
		}
	}

	#aboutheading {
		margin: 0 2em 0 18em;
	}

	.left{
		width: 49%;
		margin: 0em auto;
		vertical-align: top;
	}

	.right {
		width: 47%;
		margin-left: 2em;
		
		.rsection { padding-top: 0; }
	}

	.resume {
		.ritalic {
			display: inline-block;
			margin-left: 1em;
		}
		
		.rbody {
			display: block;
			margin-top: 0.25em;
		}
	}

	.rsection.desktop-only {
		padding-bottom: 0em;
	}

	.skills .rsubheading {
		display: block;
	}


	.img_and_cap img {
		width: 100%;
	}

	.pieceshell.swipe img {
	width: 100%;
	}

	.imgshell {
		width: 47%;
		margin-right: 2em;
	}

	.textshell {
		width: 48%;
	}

	.caption.ritalic {
		font-size: 1.4em;
		margin-bottom: 0em;
	}

	canvas {
		margin-top: 1em;
	}

	.contact-icons {
		margin-top: 1em;

		li {
			margin-right: 10px;
			opacity: 0.9;
		}
	}

}

@media only screen and (max-width: 960px){

	.desktop-only {
		display: none !important;
	}

	.wrapper {
		width: 100%;
	}

	.main {
		width: 100%;
		min-width: 320px;
		margin: 2em 0;
	}

	#navigation {
		width: 100%;
		margin-top: 14em;
		margin-left: 0;
		vertical-align: bottom;
		
		.inline-block { height: 100%; }
		
		a {
			width: 93%;
			display: inline-block;
			line-height: 2.4em;
			padding-left: 1.0em;
		}
	}

	.on {
		background-color: #0B8185;
		background-image: none;
		text-decoration:none;
		border-bottom-style:none;
		border-bottom-color:#FFF;
		color:#FFF;
	}

	.on a:link {	
		border-bottom-style:none;
		border-bottom-color:#FFF;
	}

	#portfolio.on {
		box-shadow: 0px 4px 10px #888888;
		-moz-box-shadow: 0px 4px 10px #888888;
  		-webkit-box-shadow: 0px 4px 10px #888888;
	}


	.tabtext {
		text-transform: uppercase;
		font-family: 'UbuntuBold' !important;
		width: 100% !important;
		font-size: 2em;
	}

	.add-margins {
		margin: 1em 2em;
		display: block;
	}

	.content {
		margin: 0em !important;
	}

	.left {
		width: 100%;	
		p { margin-right: 0; }
		img {
			float: left;
			margin-right: 2.5em;
		}
	}

	.blue-line {
		padding-bottom: 1.5em;
		border-bottom: 1px solid #0B8185;
	}

	.end-of-line {
		margin-right: 0em !important;
	}

	#abouttext {
		width: auto;
		margin: 1.5em 0em;
	}

	/*Styles for the header - name + heading + contact icons */
	.intro {
		position: absolute;
		top: 2em;
		left: 2em;
		margin: 0;
		min-width: 280px;
		h1 { line-height: 0.75em; }
		h3 { margin-bottom: 0.4em; }
	}

	/*End of header styles*/

	.resume {
		line-height: 1.5;
	}

	.rheading {
		margin-top: 1.5em;
		font-size: 1.5em;
		display: block;
	}

	.ritalic {
		margin-bottom: 1em;
		line-height: 1.1em;
		display: block;
	}

	.rsection {
		border-bottom: 1px solid #0B8185; 
		padding: 1.5em 0em;
		h1 {
			font-size: 1.5em;
			display: block;
		}		
	}

	.rsubheading {
		display: block;
	}

	.demotext {
		font-size: 1.2em;
	}

	.skills {
		margin-right: 1em;
	}

	#categories {
		padding: 0.75em 2em;
	}

	.pheader {
		font-size: 1.4em;
		font-family: 'UbuntuBold';
		padding-left: 7%;
		padding-right: 6%;
		color: #44392F;
		cursor: pointer;
	}

	.selected, a:hover.pheader,a:active.pheader,a:visited.pheader {
		color: #0B8185;
	}

	.portfolio-header {
		margin: 0em 0em 2em 0em;
		background-color: #E2E2E2;
	}


	.pieceshell {
		/*width: 100%;*/
		float: none;
		padding-bottom: 2em;
		margin: 0 2em 2em;
		border-bottom: 1px solid #0B8185; 
	}

	.img_and_cap img {
		width: 100%;
	}

	.piece a img {
		width: 100%;
	}

	#piece-header {
		margin: 0 2em 1em 2em;
	}

	.pieceinfo {
		margin: 0em 0em 0em 0em;
		width: auto;
		text-align: justify; 
	}

	#proficient {
		width: auto;
	}
}

@media only screen and (max-device-width: 320px) {
	.arrow {
		display: none;
	}
}

@media (max-device-width: 767px) and (max-device-height: 767px) and (orientation:landscape){
	#abouttext {
		font-size: 0.8em;
	}

	.tabtext {
		font-size: 1.3em;
	}

	#navigation a {
		padding-left: 1.5em;
	}

	.resume {
		font-size: 0.7em;
		font-weight: normal;
	}

	.pieceinfo {
		font-size: 1.2em;
	}

	.skills {
		font-size: 1.6em;
	}
}

@media only screen and (max-width: 479px){
	.imgshell {
		width: 100%;
	}

	.textshell {
		width: 100%;
		margin-left: 0;
		margin-top: 1.5em;
	}

	.one-column-only {
		display: block;
	}

	.two-column-only {
		display: none
	}
}
