@charset "UTF-8";

#panel {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 660px;
	left: 50px;
	z-index: 200;
	visibility: hidden;
	background-color: #333333;
}
#panel-tab {
	width: 140px;
	height: 35px;
	position: absolute;
	bottom: -35px;
	right: 0px;
	background-color: #0F0;
	text-decoration: none;
	color: #FFFFFF;
	visibility:visible;
}
#panel-tab:focus {
	outline: none;
}